# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Ignore files inside db/ but keep folder
db/*
!db/.gitkeep

# Ignore files inside logs/ but keep folder
logs/*
!logs/.gitkeep

# Environment variables
.env

# Ignore all CSVs in data/ EXCEPT those in data/raw/
data/*.csv
data/processed/*
!data/raw/
!data/raw/*.csv

# Editor/IDE folders
.vscode/
.cursor/

# OS-specific files
.DS_Store
Thumbs.db
